{% include 'head.html' %}
{% include 'header.html' %}

{% block content %}
<div class="container" style="background:white; color:black; height:80vh;">
 <br>
 <br>
 <br>
 <br>
 <br>
    
{% if form.errors %}
<div class="alert alert-warning" role="alert">
      
    there was a problem with the form...

</div>
{% endif %}
    <form action="" method="POST" style="width:50%; margin:auto;" class="text-center">
      <h3>Change Password</h3>
      <br>
      {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-primary">Change</button>
      </form>
 
</div>
{% endblock content %}

  