<div class="col-lg-3 col-md-3 col-sm-3">
    <h1>Clock</h1>
    <div class="container">

      <div class="middle" style="margin: auto;">
        <table>
          <tr>
            <td style="text-align: center;"><canvas id="canvas_tt63d59a37694d9" width="125"
                height="125"></canvas></td>
          </tr>
          <tr>
            <td style="text-align: center; font-weight: bold"><a
                href="//24timezones.com/State-of-New-York/time" style="text-decoration: none"
                class="clock24"
                id="tz24-1674943031-su27-eyJzaXplIjoiMTUwIiwiYmdjb2xvciI6IjAwMDAwMCIsImxhbmciOiJlbiIsInR5cGUiOiJhIiwiY2FudmFzX2lkIjoiY2FudmFzX3R0NjNkNTlhMzc2OTRkOSJ9"
                title="Current time in New York" target="_blank" rel="nofollow">New York (USA)</a>
            </td>
          </tr>


          <tr>
            <td style="text-align: center;"><canvas id="canvas_tt63d599edf2748" width="125"
                height="125"></canvas></td>
          </tr>
          <tr>
            <td style="text-align: center; font-weight: bold"><a
                href="//24timezones.com/Santiago/time" style="text-decoration: none" class="clock24"
                id="tz24-1674942957-c1232-eyJzaXplIjoiMTUwIiwiYmdjb2xvciI6IjAwMDAwMCIsImxhbmciOiJlbiIsInR5cGUiOiJhIiwiY2FudmFzX2lkIjoiY2FudmFzX3R0NjNkNTk5ZWRmMjc0OCJ9"
                title="Current time in Santiago" target="_blank" rel="nofollow">Santiago (Chile)</a>
            </td>
          </tr>


          <tr>
            <td style="text-align: center;"><canvas id="canvas_tt63d59a4d4c27c" width="125"
                height="125"></canvas></td>
          </tr>
          <tr>
            <td style="text-align: center; font-weight: bold"><a
                href="//24timezones.com/Barcelona/time" style="text-decoration: none" class="clock24"
                id="tz24-1674943053-c131-eyJzaXplIjoiMTUwIiwiYmdjb2xvciI6IjAwMDAwMCIsImxhbmciOiJlbiIsInR5cGUiOiJhIiwiY2FudmFzX2lkIjoiY2FudmFzX3R0NjNkNTlhNGQ0YzI3YyJ9"
                title="Barcelona local time" target="_blank" rel="nofollow">Barcelona (Spain)</a></td>
          </tr>
        </table>
      </div>
      <script type="text/javascript" src="//w.24timezones.com/l.js" async></script>
    </div>


  </div>