<section id="updates">
    <div class="container">
      <div class="row">
       
        <div class="col-lg-3 col-md-3 col-sm-3">
          <h1>Upcoming Events</h1>
          <div class="event-feed">
            <div class="date"> <span class="day">24</span> <span class="month">AUG</span> </div>
            <h5>Event</h5>
            <p>at PNC Bank Arts Center</p>
            <a class="btn" href="#">details</a>
          </div>
          <!--\\event-->

          <div class="event-feed">
            <div class="date"> <span class="day">26</span> <span class="month">AUG</span> </div>
            <h5>Event2</h5>
            <p>at PNC Bank Arts Center</p>
            <a class="btn" href="#">details</a>
          </div>
          <!--\\event-->

          <div class="event-feed">
            <div class="date"> <span class="day">29</span> <span class="month">AUG</span> </div>
            <h5>Events3</h5>
            <p>at PNC Bank Arts Center</p>
            <a class="btn" href="#">details</a>
          </div>
          <!--\\event-->
        </div>



