
<!--=================================
	Footer
	=================================-->
    <footer>
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
              <h4><span class="fa fa-sitemap"></span>browse around</h4>
              <div class="row">
        
                <div class="col-lg-9 col-md-9 col-sm-9">
                  <ul class="sitemap">
                    <li><a href="/">HOME</a></li>
                    <li><a href="{% url 'temas' %}">TEMAS</a></li>
                    <li><a href="https://www.luzyvida.com/lectura.cfm">LECTURA DE HOY</a></li>
                    <li><a href="{% url 'diccionario' %}">DICCIONARIO</a></li>
                    <li><a href="{% url 'juego' %}" target="_blank">JUEGOS</a></li>
                    {% comment %} <li><a href="https://www.luzyvida.com/random_vers3.cfm?LibroU=0&merindoU=0" target="_blank">JUEGOS</a></li> {% endcomment %}
                    
                    <li><a href="#">PREGUNTAS Y PETICIONES</a></li>
                  </ul>
                </div>
              </div>
            </div>
       
            
          </div>
          <!--\\row--> 
        </div>
        <!--\\container--> 
      </footer>
      <!--=================================
      Script Source
      =================================--> 
       {% load static %}

      <script defer  src="{% static 'assets/js/bootstrap.min.js' %}"></script>
      <script defer  src="{% static 'assets/js/jquery.easing-1.3.pack.js' %}"></script>
      <script defer  src="{% static 'assets/js/jquery.mCustomScrollbar.concat.min.js' %}"></script> 
      <script defer  src="{% static 'assets/js/jquery.mousewheel.min.js' %}"></script> 
      <script defer  src="{% static 'assets/js/jflickrfeed.min.js' %}"></script> 
      <script defer  src="{% static 'assets/js/jquery.flexslider-min.js' %}"></script> 
      <script defer  src="{% static 'assets/js/jquery.carouFredSel-6.2.1-packed.js' %}"></script> 
      <script defer  src="{% static 'assets/js/tweetie.min.js' %}"></script> 
      <script defer  src="{% static 'assets/js/jquery.prettyPhoto.js' %}"></script> 
      <script defer  src="{% static 'assets/jPlayer/jquery.jplayer.min.js' %}"></script> 
      <script defer  src="{% static 'assets/jPlayer/add-on/jplayer.playlist.min.js' %}"></script> 
      <script defer  src="{% static 'assets/js/jquery.vegas.min.js' %}"></script> 
      <script defer  src="{% static 'assets/js/jquery.calendar-widget.js' %}"></script> 
      <script defer  src="{% static 'assets/js/isotope.js' %}"></script>
      <script defer  src="{% static 'assets/js/main.js' %}"></script>  
      
      <script>/*Place Your Google Analytics code here*/</script>
      
      </body>
      </html>
      <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
      <script>
        $("#single1").select2({
          placeholder: "Select a Book",
          allowClear: true,
        });
 
      </script>
