
<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<title>Local</title>

<!--=================================
Meta tags
=================================-->
<meta name="description" content="">
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="viewport" content="minimum-scale=1.0, width=device-width, maximum-scale=1, user-scalable=no" />

<!--=================================
Style Sheets
=================================-->
<link
href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css"
rel="stylesheet"
/>

<link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,700' rel='stylesheet' type='text/css'>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/flexslider.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/prettyPhoto.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/jquery.vegas.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/jquery.mCustomScrollbar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/main.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'assets/css/blue.css' %}">
<!--
<link rel="stylesheet" type="text/css" href="assets/css/orange.css">
<link rel="stylesheet" type="text/css" href="assets/css/red.css">
<link rel="stylesheet" type="text/css" href="assets/css/green.css">
<link rel="stylesheet" type="text/css" href="assets/css/purple.css">
-->



<script async  src="{% static 'assets/js/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
<script defer  src="{% static 'assets/js/jquery.js' %}"></script>


<style>
.select2-results__option{
    color:black;
}

</style>
</head>